<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP54_via_FastCGI" />
            <remove name="PHP" />
            <add name="PHP7" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\xampp\php7\php-cgi.exe" resourceType="File" />
            <add name="PHP54_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\xampp\php7\php-cgi.exe" resourceType="File" requireAccess="Execute" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
